<shared-sidebar></shared-sidebar>
<shared-navbar></shared-navbar>
<div class="container" [ngClass]="{'sidebar_close':sideBar_state}">
  <memory-programs></memory-programs>

  <ng-container *ngIf="isAddingAProgram; else noAdding">
    <form-program></form-program>
  </ng-container>

  <ng-template #noAdding>
    <ng-container *ngIf="inputRequired; else noRequired">
      <form-input></form-input>
    </ng-container>
    
    <ng-template #noRequired>
        <memory-table></memory-table>
        <memory-graphics></memory-graphics>   
    </ng-template>
  </ng-template>

</div>